@{
    ViewBag.Title = "Home Page";
}
@model Palace.Website.Controllers.GameInfoModel
<script>
    var Palace = {};
    Palace.gameId = @Html.Raw(Json.Encode(Model.GameId));
    Palace.playerName = @Html.Raw(Json.Encode(Model.PlayerName));
    Palace.getUrl = 'http://localhost:49311/api/game/get/' + Palace.gameId + '/' + Palace.playerName;
    Palace.getRulesUrl = 'http://localhost:49311/api/game/getrules/' + Palace.gameId;
    Palace.playInHandCard = 'http://localhost:49311/api/game/playinhandcard/' + Palace.gameId + '/' + Palace.playerName;
    Palace.playFaceUpCard = 'http://localhost:49311/api/game/playfaceupcard/' + Palace.gameId + '/' + Palace.playerName;
    Palace.playFaceDownCard = 'http://localhost:49311/api/game/playfacedowncard/' + Palace.gameId + '/' + Palace.playerName;
    Palace.cannotPlayCard = 'http://localhost:49311/api/game/cannotplaycard/' + Palace.gameId + '/' + Palace.playerName;
</script>

<div id="reactContent"></div>

@section scripts{ 
    @Scripts.Render("~/game")
}