@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Palace.Website.Controllers.GameInfoModel>

<div class="jumbotron">
    <h1>Game</h1>
    @foreach(var game in Model)
    {
        <a href="@Url.Action("Game","Home", new {playerName=game.PlayerName, gameId = game.GameId })">
            @game.GameId - @game.PlayerName. Valid moves: @game.ValidMoves      
        </a> 
        <br/>
    }
</div>